:root {
  --primary: #2E8BC0;
  --secondary: #41729F;
}

body {
  background-color: var(--primary);
  background-image: linear-gradient(to right bottom, #3fc5ff, #2b8fcb, #1a5d96, #083062, #000030);
}

.container {
  max-width: 400px;
}

h1 {
  font-size: 2.2rem;
}

.form-control {
  background-color: var(--secondary);
  border: none;
  color: #fff;
  box-shadow: none;
}

.form-control:focus {
  background-color: var(--secondary);
  box-shadow: 0px 0px 2px 1px #67b2f8;
  color: #fff;
}

.form-control::placeholder {
  color: #fff;
}

.card {
  background-color: var(--secondary);
  border: none;
  margin-bottom: 30px;
}

.time-icon {
  position: relative;
  top: -50px;
  width: 100px;
  margin-bottom: -50px;
  border-radius: 50%;
}

.author_link {
  text-decoration: underline;
}

.daily-forecasts-container {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid #ffffff57;
}

.daily-forecasts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.daily-forecasts-image {
  width: 60px;
  height: 60px;
}

